flows monitoring.json
[
    {
        "id": "87d543df2c349625",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.251",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "SIP Server MC1",
        "x": 1740,
        "y": 120,
        "wires": [
            [
                "f58e2ac14bbe46d6"
            ],
            [],
            []
        ]
    },
    {
        "id": "f58e2ac14bbe46d6",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.251\";\nvar device = \"sip-mc1\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 120,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "a8119807f79ff127",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.252",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "SIP Server MC2",
        "x": 1740,
        "y": 180,
        "wires": [
            [
                "7c0c5b259b0aeb1d"
            ],
            [],
            []
        ]
    },
    {
        "id": "7c0c5b259b0aeb1d",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.252\";\nvar device = \"sip-mc2\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n     if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 180,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "6812902eaf041ce9",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.241",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "TCI BOX MC1",
        "x": 1740,
        "y": 300,
        "wires": [
            [
                "3ad7844c2cd5dfa2"
            ],
            [],
            []
        ]
    },
    {
        "id": "3ad7844c2cd5dfa2",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.241\";\nvar device = \"tci-box-mc1\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 300,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "c70b082be4a6050c",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.242",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "TCI BOX MC2",
        "x": 1740,
        "y": 360,
        "wires": [
            [
                "c71a2f6d3e07b774"
            ],
            [],
            []
        ]
    },
    {
        "id": "c71a2f6d3e07b774",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.242\";\nvar device = \"tci-box-mc2\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 360,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "cb292bb890350b54",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.37",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "PECU Master MC1",
        "x": 1750,
        "y": 480,
        "wires": [
            [
                "82369be585c7ace1"
            ],
            [],
            []
        ]
    },
    {
        "id": "82369be585c7ace1",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.37\";\nvar device = \"pecu-master-mc1\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 480,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "e7890f3a767e7775",
        "type": "http response",
        "z": "1cf6c3cd5d21792b",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 3020,
        "y": 2740,
        "wires": []
    },
    {
        "id": "be6004c2b6e6644f",
        "type": "debug",
        "z": "1cf6c3cd5d21792b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2820,
        "y": 2420,
        "wires": []
    },
    {
        "id": "f3b9d60e11194047",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.38",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "PECU Master MC2",
        "x": 1750,
        "y": 540,
        "wires": [
            [
                "184fd4a91488f821"
            ],
            [],
            []
        ]
    },
    {
        "id": "184fd4a91488f821",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.38\";\nvar device = \"pecu-master-mc2\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 540,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "5d7e82eb75dcfc5f",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.31",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "PECU Client MC1",
        "x": 1750,
        "y": 680,
        "wires": [
            [
                "bbeb506c32092cf3"
            ],
            [],
            []
        ]
    },
    {
        "id": "bbeb506c32092cf3",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.31\";\nvar device = \"pecu-client-mc1\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 680,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "e872a1e7a6c1347c",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.32",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "PECU Client M1",
        "x": 1740,
        "y": 740,
        "wires": [
            [
                "cdb0b563547591c5"
            ],
            [],
            []
        ]
    },
    {
        "id": "cdb0b563547591c5",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.32\";\nvar device = \"pecu-client-m1\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 740,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "c9b817cd7bd0af2a",
        "type": "comment",
        "z": "1cf6c3cd5d21792b",
        "name": "TCI Monitoring",
        "info": "",
        "x": 1280,
        "y": 80,
        "wires": []
    },
    {
        "id": "f901bc582a70cb90",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.33",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "PECU Client T1",
        "x": 1740,
        "y": 800,
        "wires": [
            [
                "ac581a8f2d1d8584"
            ],
            [],
            []
        ]
    },
    {
        "id": "ac581a8f2d1d8584",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.33\";\nvar device = \"pecu-client-t1\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 800,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "0504a1315305c3f5",
        "type": "http in",
        "z": "1cf6c3cd5d21792b",
        "name": "HTTP IN TCI Monitoring",
        "url": "/status/monitoring",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 2680,
        "wires": [
            [
                "87d543df2c349625",
                "a8119807f79ff127",
                "6812902eaf041ce9",
                "c70b082be4a6050c",
                "cb292bb890350b54",
                "f3b9d60e11194047",
                "a8f80e87f2090b4e",
                "648a9d9b52654d27",
                "83e3627337c86030",
                "4ff2a3500e6657aa",
                "dcdfe3137ffac793"
            ]
        ]
    },
    {
        "id": "ba3b2f68a1705f25",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.34",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "PECU Client T2",
        "x": 1740,
        "y": 860,
        "wires": [
            [
                "137c2a6f7bce067e"
            ],
            [],
            []
        ]
    },
    {
        "id": "137c2a6f7bce067e",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.34\";\nvar device = \"pecu-client-t2\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 860,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "fd92b86c81c86a2b",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.35",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "PECU Client M2",
        "x": 1740,
        "y": 920,
        "wires": [
            [
                "eee746c5ccec30f6"
            ],
            [],
            []
        ]
    },
    {
        "id": "eee746c5ccec30f6",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.35\";\nvar device = \"pecu-client-m2\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 920,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "37521b360dc0714b",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.36",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "PECU Client MC2",
        "x": 1750,
        "y": 980,
        "wires": [
            [
                "963973f0a623014c"
            ],
            [],
            []
        ]
    },
    {
        "id": "963973f0a623014c",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.36\";\nvar device = \"pecu-client-mc2\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 980,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "8c2ee5dbb580f5ab",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.21",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Amplifier MC1",
        "x": 1740,
        "y": 1120,
        "wires": [
            [
                "d1c4a2a8b2f85bc7"
            ],
            [],
            []
        ]
    },
    {
        "id": "d1c4a2a8b2f85bc7",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.21\";\nvar device = \"amplifier-mc1\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1120,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "9699796a0c702a5d",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.22",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Amplifier M1",
        "x": 1730,
        "y": 1180,
        "wires": [
            [
                "ab4a71741b5b3b69"
            ],
            [],
            []
        ]
    },
    {
        "id": "ab4a71741b5b3b69",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.22\";\nvar device = \"amplifier-m1\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1180,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "8a254ef1a76626dc",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.23",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Amplifier T1",
        "x": 1730,
        "y": 1240,
        "wires": [
            [
                "90bc16e8d882d650"
            ],
            [],
            []
        ]
    },
    {
        "id": "90bc16e8d882d650",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.23\";\nvar device = \"amplifier-t1\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1240,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "1c799b9a8ceb32cc",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.24",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Amplifier T2",
        "x": 1730,
        "y": 1300,
        "wires": [
            [
                "6de4ed5795dc3c10"
            ],
            [],
            []
        ]
    },
    {
        "id": "6de4ed5795dc3c10",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.24\";\nvar device = \"amplifier-t2\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1300,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "415f6e4ae7795d83",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.25",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Amplifier M2",
        "x": 1730,
        "y": 1360,
        "wires": [
            [
                "b17a52c361a9b5b0"
            ],
            [],
            []
        ]
    },
    {
        "id": "b17a52c361a9b5b0",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.25\";\nvar device = \"amplifier-m2\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1360,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "677102cf356bb88d",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.26",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Amplifier MC2",
        "x": 1740,
        "y": 1420,
        "wires": [
            [
                "e34d770ca8c501a7"
            ],
            [],
            []
        ]
    },
    {
        "id": "e34d770ca8c501a7",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.26\";\nvar device = \"amplifier-mc2\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1420,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "a8f80e87f2090b4e",
        "type": "delay",
        "z": "1cf6c3cd5d21792b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1400,
        "y": 1060,
        "wires": [
            [
                "5d7e82eb75dcfc5f",
                "e872a1e7a6c1347c",
                "f901bc582a70cb90",
                "ba3b2f68a1705f25",
                "fd92b86c81c86a2b",
                "37521b360dc0714b"
            ]
        ]
    },
    {
        "id": "648a9d9b52654d27",
        "type": "delay",
        "z": "1cf6c3cd5d21792b",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1400,
        "y": 1280,
        "wires": [
            [
                "8c2ee5dbb580f5ab",
                "9699796a0c702a5d",
                "8a254ef1a76626dc",
                "1c799b9a8ceb32cc",
                "415f6e4ae7795d83",
                "677102cf356bb88d"
            ]
        ]
    },
    {
        "id": "d3bd7711fdc7c971",
        "type": "join",
        "z": "1cf6c3cd5d21792b",
        "name": "Penambahan key",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "10",
        "count": "18",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2580,
        "y": 2740,
        "wires": [
            [
                "e7890f3a767e7775",
                "be6004c2b6e6644f"
            ]
        ]
    },
    {
        "id": "cfa16667a5dfcd74",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.81",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "LCD DSA MC1 81",
        "x": 1750,
        "y": 1560,
        "wires": [
            [
                "74430a4efd34cd95"
            ],
            [],
            []
        ]
    },
    {
        "id": "74430a4efd34cd95",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.81\";\nvar device = \"lcd-81\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1560,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "6688c9f25a6e2688",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.82",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "LCD DSA MC1 82",
        "x": 1750,
        "y": 1620,
        "wires": [
            [
                "9898a4fd650ad03e"
            ],
            [],
            []
        ]
    },
    {
        "id": "9898a4fd650ad03e",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.82\";\nvar device = \"lcd-82\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1620,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "5cd964ae581bf398",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.83",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "LCD DSA M1 83",
        "x": 1740,
        "y": 1680,
        "wires": [
            [
                "61da99793cb10f14"
            ],
            [],
            []
        ]
    },
    {
        "id": "61da99793cb10f14",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.83\";\nvar device = \"lcd-83\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1680,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "5dccb8fb2540b7cd",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.84",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "LCD DSA M1 84",
        "x": 1740,
        "y": 1740,
        "wires": [
            [
                "cd942aa46d18dc08"
            ],
            [],
            []
        ]
    },
    {
        "id": "cd942aa46d18dc08",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.84\";\nvar device = \"amplifier-t2\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1740,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "ed0264a1597e8c43",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.85",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "LCD DSA T1 85",
        "x": 1740,
        "y": 1800,
        "wires": [
            [
                "a835b50bc17d3f8c"
            ],
            [],
            []
        ]
    },
    {
        "id": "a835b50bc17d3f8c",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.85\";\nvar device = \"lcd-85\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1800,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "2bbd8f295618f231",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.86",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "LCD DSA T1 86",
        "x": 1740,
        "y": 1860,
        "wires": [
            [
                "39e3064210bc0e3f"
            ],
            [],
            []
        ]
    },
    {
        "id": "39e3064210bc0e3f",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.86\";\nvar device = \"lcd-86\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1860,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "83e3627337c86030",
        "type": "delay",
        "z": "1cf6c3cd5d21792b",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1420,
        "y": 1880,
        "wires": [
            [
                "cfa16667a5dfcd74",
                "6688c9f25a6e2688",
                "5cd964ae581bf398",
                "5dccb8fb2540b7cd",
                "ed0264a1597e8c43",
                "2bbd8f295618f231",
                "f4038e306e678de2",
                "70569c74fccad77b",
                "517f0161469ac4dd",
                "e9dfb8d82bc10857",
                "ac8101bbb4bde748",
                "eb9719dbe27eaac9"
            ]
        ]
    },
    {
        "id": "f4038e306e678de2",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.87",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "LCD DSA T2 87",
        "x": 1740,
        "y": 1920,
        "wires": [
            [
                "7bcc6ef39c47fcf4"
            ],
            [],
            []
        ]
    },
    {
        "id": "7bcc6ef39c47fcf4",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.87\";\nvar device = \"lcd-87\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1920,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "70569c74fccad77b",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.88",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "LCD DSA T2 88",
        "x": 1740,
        "y": 1980,
        "wires": [
            [
                "1d5b82f68bf18bf3"
            ],
            [],
            []
        ]
    },
    {
        "id": "1d5b82f68bf18bf3",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.88\";\nvar device = \"lcd-88\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1980,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "517f0161469ac4dd",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.89",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "LCD DSA M2 89",
        "x": 1740,
        "y": 2040,
        "wires": [
            [
                "2d68d1454c64e6f0"
            ],
            [],
            []
        ]
    },
    {
        "id": "2d68d1454c64e6f0",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.89\";\nvar device = \"lcd-89\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 2040,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "e9dfb8d82bc10857",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.90",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "LCD DSA M2 90",
        "x": 1740,
        "y": 2100,
        "wires": [
            [
                "079d2177fb86781e"
            ],
            [],
            []
        ]
    },
    {
        "id": "079d2177fb86781e",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.90\";\nvar device = \"lcd-90\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 2100,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "ac8101bbb4bde748",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.91",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "LCD DSA MC2 91",
        "x": 1750,
        "y": 2160,
        "wires": [
            [
                "f7813b6364b0aca4"
            ],
            [],
            []
        ]
    },
    {
        "id": "f7813b6364b0aca4",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.91\";\nvar device = \"lcd-91\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 2160,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "eb9719dbe27eaac9",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.92",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "LCD DSA MC2 91",
        "x": 1750,
        "y": 2220,
        "wires": [
            [
                "d4dec7a46757986f"
            ],
            [],
            []
        ]
    },
    {
        "id": "d4dec7a46757986f",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.92\";\nvar device = \"lcd-92\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 2220,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "f0bcd807ed121cf8",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.101",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "CCTV 101",
        "x": 1730,
        "y": 2360,
        "wires": [
            [
                "52e64bb55538f039"
            ],
            [],
            []
        ]
    },
    {
        "id": "52e64bb55538f039",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.101\";\nvar device = \"cctv-101\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 2360,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "d06152741ee182d4",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.102",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "CCTV 102",
        "x": 1730,
        "y": 2420,
        "wires": [
            [
                "8e876cf4ab603976"
            ],
            [],
            []
        ]
    },
    {
        "id": "8e876cf4ab603976",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.102\";\nvar device = \"cctv-102\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 2420,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "db3f6163b84df991",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.103",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "CCTV 103",
        "x": 1730,
        "y": 2480,
        "wires": [
            [
                "5f620c2dde54a6ed"
            ],
            [],
            []
        ]
    },
    {
        "id": "5f620c2dde54a6ed",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.103\";\nvar device = \"cctv-103\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 2480,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "dcb25426a03c2eec",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.104",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "CCTV 104",
        "x": 1730,
        "y": 2540,
        "wires": [
            [
                "7a911d54b4b3676e"
            ],
            [],
            []
        ]
    },
    {
        "id": "7a911d54b4b3676e",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.104\";\nvar device = \"cctv-104\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 2540,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "6014befc0585b9b8",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.105",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "CCTV 105",
        "x": 1730,
        "y": 2600,
        "wires": [
            [
                "87a863e33da8c615"
            ],
            [],
            []
        ]
    },
    {
        "id": "87a863e33da8c615",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.105\";\nvar device = \"cctv-105\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 2600,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "9ee41158cab237df",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.106",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "CCTV 106",
        "x": 1730,
        "y": 2660,
        "wires": [
            [
                "fcb78a6f2f870107"
            ],
            [],
            []
        ]
    },
    {
        "id": "fcb78a6f2f870107",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.106\";\nvar device = \"cctv-106\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 2660,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "ed9e099e2acdec64",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.107",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "CCTV 107",
        "x": 1730,
        "y": 2720,
        "wires": [
            [
                "cb1b716cc7136e33"
            ],
            [],
            []
        ]
    },
    {
        "id": "cb1b716cc7136e33",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.107\";\nvar device = \"cctv-107\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 2720,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "29af8a2f95336a9b",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.108",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "CCTV 108",
        "x": 1730,
        "y": 2780,
        "wires": [
            [
                "87245d9acbe1a81e"
            ],
            [],
            []
        ]
    },
    {
        "id": "87245d9acbe1a81e",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.108\";\nvar device = \"cctv-108\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 2780,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "97aab8bcd2ddc804",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.109",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "CCTV 109",
        "x": 1730,
        "y": 2840,
        "wires": [
            [
                "a5c6ede092a76fab"
            ],
            [],
            []
        ]
    },
    {
        "id": "a5c6ede092a76fab",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.109\";\nvar device = \"cctv-109\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 2840,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "a4012ade0154d761",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.110",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "CCTV 110",
        "x": 1730,
        "y": 2900,
        "wires": [
            [
                "4daf9213f3367813"
            ],
            [],
            []
        ]
    },
    {
        "id": "4daf9213f3367813",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.101\";\nvar device = \"cctv-101\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 2900,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "f3d1ed5fef2efb3c",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.111",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "CCTV 111",
        "x": 1720,
        "y": 2960,
        "wires": [
            [
                "ff1dff9549d0c92c"
            ],
            [],
            []
        ]
    },
    {
        "id": "ff1dff9549d0c92c",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.111\";\nvar device = \"cctv-111\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 2960,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "75e9629972196edc",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.112",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "CCTV 112",
        "x": 1730,
        "y": 3020,
        "wires": [
            [
                "d6f9f8ba4d1eea3e"
            ],
            [],
            []
        ]
    },
    {
        "id": "d6f9f8ba4d1eea3e",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.112\";\nvar device = \"cctv-112\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 3020,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "4ff2a3500e6657aa",
        "type": "delay",
        "z": "1cf6c3cd5d21792b",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1420,
        "y": 2680,
        "wires": [
            [
                "d06152741ee182d4",
                "db3f6163b84df991",
                "dcb25426a03c2eec",
                "6014befc0585b9b8",
                "9ee41158cab237df",
                "ed9e099e2acdec64",
                "29af8a2f95336a9b",
                "97aab8bcd2ddc804",
                "a4012ade0154d761",
                "f3d1ed5fef2efb3c",
                "75e9629972196edc",
                "e792238f511668b2",
                "f9a59d1edabc413d",
                "f0bcd807ed121cf8"
            ]
        ]
    },
    {
        "id": "e792238f511668b2",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.151",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "CCTV 151",
        "x": 1730,
        "y": 3080,
        "wires": [
            [
                "954a06b27381b397"
            ],
            [],
            []
        ]
    },
    {
        "id": "954a06b27381b397",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.151\";\nvar device = \"cctv-151\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 3080,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "f9a59d1edabc413d",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.156",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "CCTV 156",
        "x": 1730,
        "y": 3140,
        "wires": [
            [
                "dc627a14105d11e6"
            ],
            [],
            []
        ]
    },
    {
        "id": "dc627a14105d11e6",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.156\";\nvar device = \"cctv-156\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 3140,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "dcdfe3137ffac793",
        "type": "delay",
        "z": "1cf6c3cd5d21792b",
        "name": "",
        "pauseType": "delay",
        "timeout": "7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1440,
        "y": 4020,
        "wires": [
            [
                "861c39759f1c3d45",
                "300e900253a4ba61",
                "a4798ad59a0a85a4",
                "cb6af59774537bfd",
                "35b0c0208dc8e65e",
                "f5f0b440838db176",
                "4cadb9db97ebc754",
                "b3ec35f4b1628762",
                "b352c1ee1da4122e",
                "1aabb75094e62828",
                "4a6b9ac62e7a024f",
                "a9f3320312b4819a",
                "682809208ed1143a",
                "3484951d31e3ad9d",
                "e061cd26cd80e1f4",
                "05be254cbabe9d2b",
                "af578fd7f7501ff5",
                "8d5e87a03728411f",
                "48b1261e33eff9c1",
                "cb1c3c0565072f06",
                "6154c3aaf5515b8e",
                "7418d8053c03a0d0",
                "0b4672e23769d0ea",
                "46fc9959db22115b"
            ]
        ]
    },
    {
        "id": "861c39759f1c3d45",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.51",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-51",
        "x": 1710,
        "y": 3280,
        "wires": [
            [
                "e5e09cb1f578f777"
            ],
            [],
            []
        ]
    },
    {
        "id": "e5e09cb1f578f777",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.51\";\nvar device = \"rtx-51\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 3280,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "300e900253a4ba61",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.52",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-52",
        "x": 1710,
        "y": 3340,
        "wires": [
            [
                "46f90bdfccaffa2f"
            ],
            [],
            []
        ]
    },
    {
        "id": "46f90bdfccaffa2f",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.52\";\nvar device = \"rtx-52\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 3340,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "a4798ad59a0a85a4",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.53",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-53",
        "x": 1710,
        "y": 3400,
        "wires": [
            [
                "8d4431d0a5393eb6"
            ],
            [],
            []
        ]
    },
    {
        "id": "8d4431d0a5393eb6",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.53\";\nvar device = \"rtx-53\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 3400,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "cb6af59774537bfd",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.54",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-54",
        "x": 1710,
        "y": 3460,
        "wires": [
            [
                "baa0b2c616ddf387"
            ],
            [],
            []
        ]
    },
    {
        "id": "baa0b2c616ddf387",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.54\";\nvar device = \"rtx-54\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 3460,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "35b0c0208dc8e65e",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.55",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-55",
        "x": 1710,
        "y": 3520,
        "wires": [
            [
                "7f5ad9022c95c716"
            ],
            [],
            []
        ]
    },
    {
        "id": "7f5ad9022c95c716",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.55\";\nvar device = \"rtx-55\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 3520,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "f5f0b440838db176",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.56",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-56",
        "x": 1710,
        "y": 3580,
        "wires": [
            [
                "dae0c05d25115291"
            ],
            [],
            []
        ]
    },
    {
        "id": "dae0c05d25115291",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.56\";\nvar device = \"rtx-56\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 3580,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "4cadb9db97ebc754",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.57",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-57",
        "x": 1710,
        "y": 3640,
        "wires": [
            [
                "fda88a6352d7e14a"
            ],
            [],
            []
        ]
    },
    {
        "id": "fda88a6352d7e14a",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.57\";\nvar device = \"rtx-57\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 3640,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "b3ec35f4b1628762",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.58",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-58",
        "x": 1710,
        "y": 3700,
        "wires": [
            [
                "5040e8d866fd101e"
            ],
            [],
            []
        ]
    },
    {
        "id": "5040e8d866fd101e",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.58\";\nvar device = \"rtx-58\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 3700,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "b352c1ee1da4122e",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.59",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-59",
        "x": 1710,
        "y": 3760,
        "wires": [
            [
                "06498ab0fcf205d0"
            ],
            [],
            []
        ]
    },
    {
        "id": "06498ab0fcf205d0",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.59\";\nvar device = \"rtx-59\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 3760,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "1aabb75094e62828",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.60",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-60",
        "x": 1710,
        "y": 3820,
        "wires": [
            [
                "92e1a3ae605deba0"
            ],
            [],
            []
        ]
    },
    {
        "id": "92e1a3ae605deba0",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.60\";\nvar device = \"rtx-60\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 3820,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "4a6b9ac62e7a024f",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.61",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-61",
        "x": 1710,
        "y": 3880,
        "wires": [
            [
                "c0ef5c978b4a253c"
            ],
            [],
            []
        ]
    },
    {
        "id": "c0ef5c978b4a253c",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.61\";\nvar device = \"rtx-61\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 3880,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "a9f3320312b4819a",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.62",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-62",
        "x": 1710,
        "y": 3940,
        "wires": [
            [
                "bcfb93d89b69b328"
            ],
            [],
            []
        ]
    },
    {
        "id": "bcfb93d89b69b328",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.62\";\nvar device = \"rtx-62\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 3940,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "682809208ed1143a",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.63",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-63",
        "x": 1710,
        "y": 4000,
        "wires": [
            [
                "88f48ed940279b22"
            ],
            [],
            []
        ]
    },
    {
        "id": "88f48ed940279b22",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.63\";\nvar device = \"rtx-63\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 4000,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "3484951d31e3ad9d",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.64",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-64",
        "x": 1710,
        "y": 4060,
        "wires": [
            [
                "8a88ccbad402ff9f"
            ],
            [],
            []
        ]
    },
    {
        "id": "8a88ccbad402ff9f",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.64\";\nvar device = \"rtx-64\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 4060,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "e061cd26cd80e1f4",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.65",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-65",
        "x": 1710,
        "y": 4120,
        "wires": [
            [
                "f9ddb010e6ff2ffb"
            ],
            [],
            []
        ]
    },
    {
        "id": "f9ddb010e6ff2ffb",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.65\";\nvar device = \"rtx-65\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 4120,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "05be254cbabe9d2b",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.66",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-66",
        "x": 1710,
        "y": 4180,
        "wires": [
            [
                "6b897664305b47d7"
            ],
            [],
            []
        ]
    },
    {
        "id": "6b897664305b47d7",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.66\";\nvar device = \"rtx-66\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 4180,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "af578fd7f7501ff5",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.67",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-67",
        "x": 1710,
        "y": 4240,
        "wires": [
            [
                "02df15f891d0d2b3"
            ],
            [],
            []
        ]
    },
    {
        "id": "02df15f891d0d2b3",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.67\";\nvar device = \"rtx-67\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 4240,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "8d5e87a03728411f",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.68",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-68",
        "x": 1710,
        "y": 4300,
        "wires": [
            [
                "ffb3655f3d885a99"
            ],
            [],
            []
        ]
    },
    {
        "id": "ffb3655f3d885a99",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.68\";\nvar device = \"rtx-68\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 4300,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "48b1261e33eff9c1",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.69",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-69",
        "x": 1710,
        "y": 4360,
        "wires": [
            [
                "07c75fd179623b49"
            ],
            [],
            []
        ]
    },
    {
        "id": "07c75fd179623b49",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.69\";\nvar device = \"rtx-69\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 4360,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "cb1c3c0565072f06",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.70",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-70",
        "x": 1710,
        "y": 4420,
        "wires": [
            [
                "98f14f73e7e68174"
            ],
            [],
            []
        ]
    },
    {
        "id": "98f14f73e7e68174",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.70\";\nvar device = \"rtx-70\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 4420,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "6154c3aaf5515b8e",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.71",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-71",
        "x": 1710,
        "y": 4480,
        "wires": [
            [
                "3c6a5c417e1ac6bf"
            ],
            [],
            []
        ]
    },
    {
        "id": "3c6a5c417e1ac6bf",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.71\";\nvar device = \"rtx-71\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 4480,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "7418d8053c03a0d0",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.72",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-72",
        "x": 1710,
        "y": 4540,
        "wires": [
            [
                "10354d5ef076edcf"
            ],
            [],
            []
        ]
    },
    {
        "id": "10354d5ef076edcf",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.72\";\nvar device = \"rtx-72\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 4540,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "0b4672e23769d0ea",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.73",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-73",
        "x": 1710,
        "y": 4600,
        "wires": [
            [
                "c3c00b7a57095aa2"
            ],
            [],
            []
        ]
    },
    {
        "id": "c3c00b7a57095aa2",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.73\";\nvar device = \"rtx-73\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 4600,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    },
    {
        "id": "46fc9959db22115b",
        "type": "exec",
        "z": "1cf6c3cd5d21792b",
        "command": "ping -c 1 -s 8 192.168.2.74",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rtx-74",
        "x": 1710,
        "y": 4660,
        "wires": [
            [
                "7217486d8b2f081c"
            ],
            [],
            []
        ]
    },
    {
        "id": "7217486d8b2f081c",
        "type": "function",
        "z": "1cf6c3cd5d21792b",
        "name": "Hasil Ping",
        "func": "var result = msg.payload;\nvar targetIP = \"192.168.2.74\";\nvar device = \"rtx-74\"; // key msg.topic\n\nif (typeof result === \"string\") {\n    result = result.toLowerCase();\n    if (result.includes(\"from \" + targetIP) && result.includes(\"ttl=64\")) {\n        msg.payload = { status: \"online\" };\n    } else {\n        msg.payload = { status: \"offline\" };\n    }\n} else {\n    msg.payload = { status: \"offline\" };\n}\n\n// Tetapkan topic sebelum keluar\nmsg.topic = device;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 4660,
        "wires": [
            [
                "d3bd7711fdc7c971"
            ]
        ]
    }
]